html,body {
  height: 100%;
  width: 100%;
  background-color: #808080;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(https://sinonbot.co.uk/img/background.jpg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-app-region: no-drag;
}

.guild {
    width: 50px;
    height:90%;
    min-height: 90%;
    max-height: 90%;
    z-index: 1;
    padding: 15px 0 0 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-div {
    height:90%;
    min-height: 90%;
    max-height: 90%;
    display: box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.full-div {
    position: relative;
    min-height:100vh;
    max-height:100vh; 
    height:100vh; 
}

.image {
    display: inline-block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.messages {
    max-height: 20%;
    max-width: 95%;
    min-width: 95%;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #cdcdcd;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.4)
}

.icons {
    vertical-align:middle;
    max-width: 20% !important;
    max-height:20% !important;
    border-radius: 20% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    text-align: right !important;
    align-content: right !important;
    align-items: right !important;
    padding-right: 5px !important;
}

.guildList {
    text-align: left;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    max-height: 75px;
    min-height: 75px;
    height: 75px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 8px;
    padding-left: 6px;
    border-color: #2196F3!important;
    border-style: ridge;
    border-width: 2px;
    display:block;
    background-color: rgba(255, 255, 255, 0.4);
}